.root {
	-fx-background-color: white;
	-fx-padding: 10;
}

/*Welcome Scene*/
.welcomePane {
	-fx-background-color: navy;
	-fx-background-image: url("blue.jpg");
}

.display {
/*	-fx-background-image: url("bluebg.jpg");*/
/*	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.display #tasksOverviewPanel {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans";
	-fx-font-weight: lighter;
	-fx-text-box-border: white;
	-fx-text-fill: white;
}

.display #projectsOverviewPanel {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans";
	-fx-font-weight: lighter;
	-fx-text-box-border: white;
}

.display #listView {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans", sans-serif, serif;
	-fx-text-box-border: white;
}

.display #commandBox {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans", sans-serif, serif;
	-fx-text-box-border: navy;
	-fx-focus-color: navy ;
}

.display #displayToUser {
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans", sans-serif, serif;
}

.list-cell {
   /* -fx-background-color: white;*/
	-fx-padding: 7 10 7 10;
/*	 -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );*/
}
